{{#if isLink}}
    <a href="#" {{action "openModal"}}>{{title}}</a>
{{else}}
    {{#if disabled}}
    	<button type="button" class="btn btn-secondary disabled">
    		{{title}}
    	</button>
    {{else}}
    	<button type="button" class="btn btn-secondary" {{action "openModal"}}>
    		{{title}}
    	</button>
    {{/if}}
{{/if}}
