{{priu-icon name="person"}}
<div class="user-name">
    <strong>{{user.name}}</strong> <span class="badge role-{{user.role}}">{{user.role}}</span>
</div>
<small class="bt-signout"><a href="#" {{action "signOut"}}>Sair</a></small>
