<h5 class="comments-title">{{priu-icon name="comments"}} Comentários</h5>
<div class="card">
  <div class="card-body p-2">
    {{#if comments}}
      {{#each comments as |cm|}}
        <div class="row story-comment">
          <div class="col-md-2">
            {{priu-icon name="user-avatar"}}
          </div>
          <div class="col-md">
            <div class="user-name">{{cm.user.name}}</div>
            <div class="comment-content text-info">
              {{cm.content}}
            </div>
            <small>{{moment-from-now cm.dateTime}}</small>
          </div>
        </div>
      {{/each}}
    {{else}}
      Seja o primeiro a comentar e ganhe pontos!
    {{/if}}
  </div>
</div>
<textarea class="form-control mt-2" rows="3" placeholder="Digite aqui seu comentário"></textarea>