<h5 class="comments-title">{{priu-icon name="comments"}} Comentários</h5>
<div class="card">
  <div class="card-body p-2">
    {{#if comments}}
      {{#each comments as |cm|}}
        <div class="row story-comment">
          <div class="col-md-2">
            {{priu-icon name="user-avatar"}}
          </div>
          <div class="col-md">
            <div class="user-name">{{cm.user.name}} <span class="badge role-{{cm.user.role}}">{{cm.user.role}}</span></div>
            <div class="comment-content">
              {{cm.content}}
            </div>
            <small>{{moment-from-now cm.dateTime}}</small>

            {{#if cm.canSendOpinion}}
              <div>
                <button type="button" class="btn btn-primary" {{action "likeComment" cm}}>Like ({{cm.likesCount}})</button>
                <button type="button" class="btn btn-primary" {{action "dislikeComment" cm}}>Dislike ({{cm.dislikesCount}})</button>
              </div>
            {{else}}
              <div>
                Like ({{cm.likesCount}}) / Dislike ({{cm.dislikesCount}})
              </div>
            {{/if}}

          </div>
        </div>
      {{/each}}
    {{else}}
      Seja o primeiro a comentar e ganhe pontos!
    {{/if}}
  </div>
</div>
<textarea class="form-control mt-2" rows="3" placeholder="Digite aqui seu comentário"></textarea>