<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
    {{priu-icon name="logo"}} PRIUS
  	</a>

    <div class="navbar-collapse">
      {{#if (and userSession.isAuthenticated model)}}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {{#link-to "dashboard" class="nav-link"}}Visão Geral{{/link-to}}
          </li>
          {{#if isGamified}}
            <li class="nav-item">
              {{#link-to "points" class="nav-link"}}Extrato de pontos{{/link-to}}
            </li>
          {{/if}}
          {{#if isGamified}}
          <li class="nav-item ">
            <a class="nav-link" href="https://docs.google.com/presentation/d/1awsRUOTosOOrPh5rzf7y4mHM9OXcD3Dup1VIuTlbXak/edit?usp=sharing" target="_blank">Instruções</a>
          </li>
          {{else}}
            <li class="nav-item ">
              <a class="nav-link" href="https://docs.google.com/presentation/d/1qpRTPQV9CsHpeEbbXhENLeaWgSW8sJWSNsTdksD-2ac/edit?usp=sharing" target="_blank">Instruções</a>
            </li>
          {{/if}}
          {{#if model.user.isPM}}
            <li class="nav-item">
              {{#link-to "reports" class="nav-link"}}Relatórios{{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "createst" class="nav-link"}}Cadastrar{{/link-to}}
            </li>
          {{/if}}
        </ul>
      {{/if}}

      <div class="my-2 my-lg-0">
        {{#if userSession.isAuthenticated}}
          {{user-info user=model.user onSignOut=(action "onSignOut")}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<div class="container pt-2">
  {{#if (and userSession.isAuthenticated model)}}
    <div class="row">
      <div class="col-md-2 text-center">
        {{#if isGamified}}
          {{user-ranking ranking=currentUserRanking points=currentUserPoints}}
        {{/if}}
        {{current-sprint currentSprint=currentSprint}}
        {{stories-boxes stories=model.allStories currentUser=currentUser}}

        {{#if isGamified}}
          {{stories-progress stories=model.allStories}}
        {{/if}}
      </div>
      {{outlet}}
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>

{{notification-alert
  title=alertTitle
  text=alertText
  alertClass=alertClass}}
