<div class="col-md">
  <form>
    <div class="form-group">
      <label>ID</label>
      {{input value=id class="form-control"}}
    </div>
    <div class="form-group">
      <label>Nome</label>
      {{input value=name class="form-control"}}
    </div>
    <div class="form-group">
      <label>Foto</label>
      {{input value=photo class="form-control"}}
    </div>
    <div class="form-group">
      <label>Papel</label>
      {{input value=role class="form-control"}}
    </div>
    <button type="button" class="btn btn-primary" {{action "save"}}>Salvar</button>
  </form>
</div>