
<div class="col-md">
  <h5>Sprints</h5>

  <div class="card sprint-list">
    <ul class="list-group list-group-flush">
      {{#each model.sprints as |sprint|}}
        <li class="list-group-item">
          <div>
            <span class="badge badge-secondary">#SP{{sprint.id}}</span> {{sprint.goal}} {{#if sprint.isCurrent}}(atual){{/if}}
          </div>

          {{#if sprint.isCurrent}}
            {{priu-icon name="check" classNames="float-right"}}
          {{else}}
            <button type="button" class="btn btn-primary btn-sm float-right" {{action "selectSprint" sprint}}>Selecionar</button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="row story-list-header mt-4">
    <div class="col-md"><h5>Priorização atual das estórias da #SP{{currentSprint.id}}</h5></div>
    <div class="col-md-2"><b>Prioridade</b></div>
  </div>

  <div class="card story-list">
    <ul class="list-group list-group-flush">
      {{#each rankedStories as |story|}}
        <li class="list-group-item">
          <div class="pr-1">
            <span class="badge badge-primary">#{{story.id}}</span> {{#link-to "story" story.id}}{{story.title}}{{/link-to}}
          </div>

          <div>
            {{story.priority}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-md-3">
  <h5 class="leaderboard-title">{{priu-icon name="trophy" width="31" height="31" classNames="p0"}} Ranking geral</h5>

  <div class="card main-leaderboard">
    <ul class="list-group list-group-flush">
      {{#each top3 as |user index|}}
        <li class="list-group-item ranking-{{index}} top-3">
          <div class="position">{{priu-icon name=(concat 'ranking-' index)}}</div>
          <div class="user-name">{{user.userRanking}}º {{user.name}} ({{user.points}})</div>
        </li>
      {{/each}}

      {{#each restBoard as |user index|}}
        <li class="list-group-item">
          <div class="user-name"><strong>{{user.userRanking}}º</strong> {{user.name}} ({{user.points}})</div>
        </li>
      {{/each}}
    </ul>
  </div>

  <h5 class="section-title mt-4">{{priu-icon name="comments"}} Quem mais comenta!</h5>

  <div class="card top-commenters">
    <ul class="list-group list-group-flush">
      {{#each topCommenters as |user index|}}
        <li class="list-group-item">
            <div class="user-name"><strong>{{user.userRanking}}º</strong> {{user.name}} ({{user.qtd}})</div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>