
<div class="col-md">
  <h5>Sprints</h5>

  <div class="card sprint-list">
    <ul class="list-group list-group-flush">
      {{#each model.sprints as |sprint|}}
        <li class="list-group-item">
          <div>
            <span class="badge badge-secondary">#{{sprint.id}}</span> {{sprint.goal}} {{#if sprint.isCurrent}}(atual){{/if}}
          </div>

          {{#if sprint.isCurrent}}
            {{priu-icon name="check" classNames="float-right"}}
          {{else}}
            <button type="button" class="btn btn-primary btn-sm float-right" {{action "selectSprint" sprint}}>Selecionar</button>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

  <h5 class="mt-4">Estórias da sprint #{{currentSprint.id}}</h5>

  <div class="card story-list">
    <ul class="list-group list-group-flush">
      {{#each allStories as |story|}}
        <li class="list-group-item">
          <div>
            <span class="badge badge-secondary">#{{story.id}}</span> {{#link-to "story" story.id}}{{story.title}}{{/link-to}}
          </div>

          {{#if story.isVoted}}
            {{priu-icon name="check" classNames="float-right"}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-md-3">
  <h5>Ranking geral</h5>

  <div class="card leaderboard">
    <ul class="list-group list-group-flush">
      {{#each model.users as |user|}}
        <li class="list-group-item">
          {{user.name}} <span class="badge role-{{user.role}}">{{user.role}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>