
<div class="col-md">
  <h5>Sprints</h5>

  <div class="card sprint-list">
    <ul class="list-group list-group-flush">
      {{#each model.sprints as |sprint|}}
        <li class="list-group-item">
          <span class="badge badge-secondary">#{{sprint.id}}</span> {{sprint.goal}} {{#if sprint.isCurrent}}(atual){{/if}}

          {{#unless sprint.isCurrent}}
            <button type="button" class="btn btn-primary btn-sm float-right" {{action "selectSprint" sprint}}>Selecionar</button>
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-md-3">
  <h5>Ranking</h5>

  <div class="card leaderboard">
    <ul class="list-group list-group-flush">
      {{#each model.users as |user|}}
        <li class="list-group-item">
          {{user.name}} <span class="badge role-{{user.role}}">{{user.role}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>