<div class="col-md text-center">
  {{#if (not-eq model.sprint.id currentSprint.id)}}
    <div class="alert alert-danger">
      <strong>ATENÇÃO!</strong> Esta estória não está na sprint atual!
    </div>
  {{/if}}

  <h3 class="text-dark"><span class="badge badge-secondary">#{{model.id}}</span> {{model.title}}</h3>

  <div class="story-button-options mt-4" role="group">
    {{modal-button title="Critérios de aceitação" target="acceptanceModal" story=model disabled=btAcceptanceDisabled}}
    {{modal-button title="Wireframes" target="wireframesModal" story=model disabled=btWireframesDisabled}}
    {{modal-button title="Notas" target="detailsModal" disabled=btDetailsDisabled}}
  </div>

  {{#if model.isVoted}}
    <div class="already-vote-alert alert alert-warning mt-2 mb-0">
      <strong>Atenção!</strong> Você já votou nesta estória!
    </div>
  {{/if}}

  {{#if currentUser.isPO}}
    {{story-criteria text="Quanto de valor esta estória trará para os usuários?" invertIcons=true value=benefit}}
    {{story-criteria text="Esta estória vai fazer muita falta se não existir nesta sprint?" value=penalty}}
  {{else}}
    {{story-criteria text="Esta estória é muito trabalhosa, difícil ou complexa de ser feita?" value=cost}}
    {{story-criteria text="Qual o risco desta estória não ser concluída até o final da sprint?" value=risk}}
  {{/if}}

  <button type="button" class="btn btn-primary mt-2 mx-auto icon-button" {{action "saveVote"}}>
    {{priu-icon name="save"}}{{if model.isVoted 'Atualizar' 'Salvar'}}
  </button>
</div>

<div class="col-md-3">
  {{story-comments story=model
    currentUser=currentUser
    saveComment=(action "saveComment")
    addCommentLike=(action "addCommentLike")
    addCommentDislike=(action "addCommentDislike")}}
</div>

{{partial "modals"}}
